* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #0E141C;
}

h2 {
  font-size: 40pt;
  color: #8197AC;
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-style: normal;
  padding-top: 10%;
  padding-bottom: 5%;
}

h3 {
  text-align: center;
  font-size: 30pt;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #bdb3a3;
}

.page1 {
  max-width: 100%;
  min-width: 100%;
}


h1 {
  color: #bdb3a3;
  margin: auto;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.intro {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 2;
}

.graphic {
  padding-top: 5%;
  align-items: flex-end;
  z-index: 1;
}

.graphic img {
  height: 40rem;
  min-width: fit-content;
}

.hero {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#main-text {
  font-size: 70pt;
  width: 2.5rem;
  padding-left: 5%;
  padding-top: 5%;
}

.content {
  color: #8197AC;
  font-size: 20pt;
  width: 50vw;
  padding-left: 5%;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.footer a {
  font-size: 20pt;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #bdb3a3;
  text-decoration: none;
  justify-items: right;
  padding-bottom: 2%;
  padding-top: 50%;
  padding-left: 90%;
  padding-right: 2%;
}

.footer a:hover {
  color: #607ea2;
}

.montserrat-alternates-semibold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}